.MapGraphTimeBox{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 10px;
}


.launchPadBox{

    border: 1px solid black;
    height: 350px;
}